# Importing the essentials

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('World-happiness-report-updated_2024.csv', encoding='latin-1')

# Understanding the data

In [2]:
df.columns

Index(['Country name', 'year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect'],
      dtype='object')

In [3]:
df.shape

(2363, 11)

In [4]:
df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.350,0.451,50.5,0.718,0.164,0.882,0.414,0.258
1,Afghanistan,2009,4.402,7.509,0.552,50.8,0.679,0.187,0.850,0.481,0.237
2,Afghanistan,2010,4.758,7.614,0.539,51.1,0.600,0.118,0.707,0.517,0.275
3,Afghanistan,2011,3.832,7.581,0.521,51.4,0.496,0.160,0.731,0.480,0.267
4,Afghanistan,2012,3.783,7.661,0.521,51.7,0.531,0.234,0.776,0.614,0.268

In [5]:
print(df.isnull().sum())
print('-'*50)
print(df.duplicated().sum())
print('-'*50)
print(df.info())

Country name                          0
year                                  0
Life Ladder                           0
Log GDP per capita                   28
Social support                       13
Healthy life expectancy at birth     63
Freedom to make life choices         36
Generosity                           81
Perceptions of corruption           125
Positive affect                      24
Negative affect                      16
dtype: int64
--------------------------------------------------
0
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2363 entries, 0 to 2362
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      2363 non-null   object
 1   year                              2363 non-null   int64
 2   Life Ladder                       2363 non-null   float64
 3   Log GDP per capita                2335 non-null   float64
 4   Social support                    2350 non-null   float64
 5   Healthy life expectancy at birth  2300 non-null   float64
 6   Freedom to make life choices      2327 non-null   float64
 7   Generosity                        2282 non-null   float64
 8   Perceptions of corruption         2238 non-null   float64
 9   Positive affect                   2339 non-null   float64
 10  Negative affect                   2347 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 203.2+ KB
None

there are a lot of null values in the data

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
year,2363.0,2014.763860,5.059436,2005.000,2011.0000,2015.0000,2019.00000,2023.000
Life Ladder,2363.0,5.483566,1.125522,1.281,4.6470,5.4490,6.32350,8.019
Log GDP per capita,2335.0,9.399671,1.152069,5.527,8.5065,9.5030,10.39250,11.676
Social support,2350.0,0.809369,0.121212,0.228,0.7440,0.8345,0.90400,0.987
Healthy life expectancy at birth,2300.0,63.401828,6.842644,6.720,59.1950,65.1000,68.55250,74.600
Freedom to make life choices,2327.0,0.750282,0.139357,0.228,0.6610,0.7710,0.86200,0.985
Generosity,2282.0,0.000098,0.161388,-0.340,-0.1120,-0.0220,0.09375,0.700
Perceptions of corruption,2238.0,0.743971,0.184865,0.035,0.6870,0.7985,0.86775,0.983
Positive affect,2339.0,0.651882,0.106240,0.179,0.5720,0.6630,0.73700,0.884
Negative affect,2347.0,0.273151,0.087131,0.083,0.2090,0.2620,0.32600,0.705

In [7]:
for col in df.columns[:5]:
    print(f'{col} : {df[col].unique()}')
    print('v'*50)
    print(f'{col} : {df[col].nunique()}')
    print('-'*50)

Country name : ['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo (Brazzaville)' 'Congo (Kinshasa)'
 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czechia' 'Denmark' 'Djibouti'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Guatemala' 'Guinea' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong S.A.R. of China' 'Hungary' 'Iceland' 'India' 'Indonesia'
 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Ivory Coast' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos'
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman'
 'Pakistan' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Somalia'
 'Somaliland region' 'South Africa' 'South Korea' 'South Sudan' 'Spain'
 'Sri Lanka' 'State of Palestine' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan Province of China' 'Tajikistan' 'Tanzania'
 'Thailand' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan'
 'TÃ¼rkiye' 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'Uruguay' 'Uzbekistan' 'Venezuela' 'Vietnam' 'Yemen'
 'Zambia' 'Zimbabwe']
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
Country name : 165
--------------------------------------------------
year : [2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2021 2022
 2023 2007 2020 2006 2005]
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
year : 19
--------------------------------------------------
Life Ladder : [3.724 4.402 4.758 ... 3.16  3.155 3.296]
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
Life Ladder : 1814
--------------------------------------------------
Log GDP per capita : [7.35  7.509 7.614 ... 7.657 7.67  7.679]
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
Log GDP per capita : 1760
--------------------------------------------------
Social support : [0.451 0.552 0.539 0.521 0.484 0.526 0.529 0.559 0.491 0.508 0.42  0.454
 0.228 0.368 0.821 0.833 0.733 0.759 0.785 0.626 0.639 0.638 0.684 0.686
 0.71  0.702 0.724 0.691   nan 0.81  0.839 0.818 0.749 0.807 0.799 0.803
 0.868 0.841 0.783 0.723 0.753 0.722 0.755 0.938 0.862 0.892 0.919 0.927
 0.889 0.902 0.91  0.918 0.926 0.883 0.907 0.9   0.896 0.897 0.882 0.893
 0.682 0.76  0.709 0.68  0.66  0.705 0.676 0.739 0.698 0.814 0.782 0.762
 0.811 0.819 0.968 0.965 0.947 0.955 0.967 0.945 0.928 0.924 0.952 0.942
 0.95  0.94  0.943 0.937 0.92  0.936 0.935 0.914 0.944 0.899 0.906 0.912
 0.964 0.925 0.863 0.876 0.874 0.854 0.736 0.687 0.725 0.77  0.786 0.777
 0.787 0.781 0.887 0.665 0.713 0.904 0.877 0.908 0.911 0.884 0.853 0.878
 0.848 0.817 0.672 0.514 0.467 0.528 0.549 0.606 0.582 0.53  0.577 0.601
 0.649 0.706 0.673 0.485 0.404 0.45  0.858 0.923 0.88  0.905 0.917 0.922
 0.931 0.909 0.885 0.929 0.93  0.915 0.872 0.757 0.445 0.382 0.477 0.523
 0.506 0.434 0.493 0.436 0.504 0.442 0.507 0.366 0.398 0.834 0.796 0.831
 0.829 0.779 0.827 0.784 0.805 0.798 0.824 0.766 0.735 0.773 0.767 0.788
 0.656 0.808 0.775 0.836 0.873 0.86  0.856 0.879 0.832 0.866 0.837 0.859
 0.816 0.768 0.795 0.774 0.75  0.701 0.886 0.913 0.916 0.89  0.898 0.843
 0.838 0.948 0.953 0.771 0.727 0.744 0.745 0.742 0.764 0.683 0.668 0.658
 0.58  0.291 0.326 0.422 0.565 0.793 0.675 0.619 0.697 0.716 0.651 0.693
 0.729 0.746 0.765 0.738 0.69  0.717 0.743 0.778 0.646 0.659 0.695 0.677
 0.711 0.72  0.629 0.962 0.939 0.954 0.934 0.532 0.483 0.387 0.29  0.32
 0.479 0.571 0.734 0.714 0.751 0.616 0.661 0.64  0.609 0.815 0.804 0.857
 0.855 0.869 0.888 0.891 0.747 0.748 0.82  0.794 0.772 0.822 0.797 0.894
 0.901 0.871 0.721 0.719 0.621 0.632 0.472 0.555 0.637 0.622 0.642 0.615
 0.655 0.625 0.597 0.568 0.561 0.83  0.864 0.67  0.654 0.572 0.875 0.861
 0.79  0.776 0.97  0.812 0.844 0.826 0.806 0.972 0.975 0.951 0.956 0.96
 0.958 0.633 0.85  0.895 0.801 0.842 0.849 0.851 0.825 0.769 0.737 0.73
 0.809 0.731 0.791 0.696 0.933 0.946 0.712 0.602 0.74  0.823 0.941 0.974
 0.921 0.653 0.756 0.78  0.763 0.754 0.685 0.694 0.588 0.647 0.548 0.608
 0.544 0.54  0.503 0.533 0.558 0.517 0.59  0.617 0.718 0.671 0.963 0.728
 0.669 0.761 0.643 0.628 0.852 0.835 0.802 0.598 0.542 0.567 0.579 0.634
 0.63  0.732 0.627 0.679 0.554 0.648 0.564 0.584 0.538 0.828 0.792 0.84
 0.846 0.813 0.845 0.977 0.979 0.98  0.985 0.982 0.983 0.707 0.569 0.605
 0.553 0.511 0.61  0.614 0.607 0.57  0.704 0.6   0.664 0.644 0.566 0.674
 0.8   0.708 0.959 0.973 0.903 0.667 0.613 0.536 0.623 0.865 0.87  0.703
 0.966 0.789 0.715 0.65  0.678 0.881 0.932 0.547 0.535 0.594 0.666 0.692
 0.604 0.563 0.512 0.494 0.524 0.47  0.741 0.573 0.641 0.847 0.505 0.5
 0.612 0.752 0.699 0.957 0.976 0.987 0.726 0.7   0.587 0.663 0.591 0.373
 0.522 0.51  0.562 0.867 0.689 0.486 0.489 0.688 0.645 0.611 0.657 0.652
 0.502 0.961 0.949 0.599 0.545 0.585 0.557 0.576 0.464 0.435 0.303 0.444
 0.509 0.596 0.603 0.984 0.624]
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
Social support : 484
--------------------------------------------------

no annomalies for the wrong datatypes

## Filling the missing values

In [8]:
#  Choosing the one with the missing values
num = df.select_dtypes(include=('float64')).columns[1:]

for item in num:
    df[item] = df[item].fillna(df[item].mean())

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2363 entries, 0 to 2362
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      2363 non-null   object
 1   year                              2363 non-null   int64
 2   Life Ladder                       2363 non-null   float64
 3   Log GDP per capita                2363 non-null   float64
 4   Social support                    2363 non-null   float64
 5   Healthy life expectancy at birth  2363 non-null   float64
 6   Freedom to make life choices      2363 non-null   float64
 7   Generosity                        2363 non-null   float64
 8   Perceptions of corruption         2363 non-null   float64
 9   Positive affect                   2363 non-null   float64
 10  Negative affect                   2363 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 203.2+ KB

In [9]:
df.to_csv('Happiness_cleaned_data.csv')

# EDA